<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>COMP3613_A00977249Assignment02Original</display-name>
  <description>Application for displaying remote table contents</description>
  <context-param>
    <param-name>tableName</param-name>
    <param-value>A00977249_Products</param-value>
  </context-param>
  <servlet>
    <servlet-name>HomePage</servlet-name>
    <jsp-file>/index.jsp</jsp-file>
    <init-param>
      <param-name>headerGreeting</param-name>
      <param-value>Welcome to my webpage!</param-value>
    </init-param>
    <init-param>
      <param-name>bodyGreeting</param-name>
      <param-value>Welcome aboard!</param-value>
    </init-param>
    <init-param>
      <param-name>instruction</param-name>
      <param-value>Please choose your preferred language and click on submit.</param-value>
    </init-param>
  </servlet>
  <servlet>
    <servlet-name>Assignment02</servlet-name>
    <servlet-class>a00977249.assignment.Assignment02Servlet</servlet-class>
    <init-param>
      <param-name>encryptedDbPropPath</param-name>
      <param-value>WEB-INF/files/encryptdbprops.properties</param-value>
    </init-param>
    <init-param>
      <param-name>encryptedPWPropPath</param-name>
      <param-value>WEB-INF/data/encryptedpassword.properties</param-value>
    </init-param>
  </servlet>
  <filter>
    <filter-name>Switch</filter-name>
    <filter-class>a00977249.assignment.filters.SwitchFilter</filter-class>
  </filter>
  <servlet-mapping>
    <servlet-name>HomePage</servlet-name>
    <url-pattern>/index.jsp</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Assignment02</servlet-name>
    <url-pattern>/assignment02</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Assignment02</servlet-name>
    <url-pattern>/Home</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Assignment02</servlet-name>
    <url-pattern>/About</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Assignment02</servlet-name>
    <url-pattern>/SQLCommand</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Assignment02</servlet-name>
    <url-pattern>/Table</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Assignment02</servlet-name>
    <url-pattern>/LanChanged</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Assignment02</servlet-name>
    <url-pattern>/CRUD</url-pattern>
  </servlet-mapping>
  <filter-mapping>
    <filter-name>Switch</filter-name>
    <servlet-name>Assignment02</servlet-name>
  </filter-mapping>
  <welcome-file-list>
    <welcome-file>assignment02</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>NoInvoker</servlet-name>
    <servlet-class>coreservlets.NoInvokerServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NoInvoker</servlet-name>
    <url-pattern>/servlet/*</url-pattern>
  </servlet-mapping>
</web-app>